doctype html

html
    head
        title Diagnostic Information
        style.
            body {
                font: 13px 'Lucida Console','Courier New';
            }

            th, td {
                padding: 5px;
                border: 1px solid black;
            }
            table {
                border-collapse: collapse;
                border: 1px solid black;
            }

            #instances {
                display: flex;
                flex-flow: column;

                margin: 5px;

                position: absolute;
                height: 50%;
                width: 50%;
                left: 0%;
                top: 0%;
            }
            #instance_title {
                flex: 0 0 auto;

                font: 18px 'Lucida Console','Courier New';
            }
            #instance_list {
                flex: 1 1 auto;
                overflow: auto;
                position: relative;
            }

            #versions {
                display: flex;
                flex-flow: column;

                margin: 5px;

                position: absolute;
                height: 50%;
                width: 50%;
                left: 50%;
                top: 50%;
            }
            #version_title {
                flex: 0 0 auto;

                font: 18px 'Lucida Console','Courier New';
            }
            #version_list {
                flex: 1 1 auto;
                overflow: auto;
                position: relative;
            }
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://kryogenix.org/code/browser/sorttable/sorttable.js")
        script(src="js/version.js")

    body
        div(id="instances")
            div(id="instance_title")
                a(href='/diagnostic/instance')= "Instances"
                |:
            div(id="instance_list")
                include instances_view.pug
        div(id="versions")
            div(id="version_title")
                a(href='/diagnostic/version')= "Versions"
                |:
            div(id="version_list")
                include versions_view.pug

