doctype html

html
    head
        title Versions
        style.
            body {
                font: 13px 'Lucida Console','Courier New';
            }

            th, td {
                padding: 5px;
                border: 1px solid black;
            }
            table {
                border-collapse: collapse;
                border: 1px solid black;
            }
        script(src="/jquery.min.js")
        script(src="https://kryogenix.org/code/browser/sorttable/sorttable.js")
        script(src="/js/version.js")

    body
        include versions_view.pug
