@require 'util'

#character_sheet
    background-gradient()

a 
    color $link_color
    text-decoration none

.cnum
    flex-row()
    flex-none()
.cnum_button, .cnum_value
    flex-none()
.cnum_button:disabled
  filter brightness(30%)
  transition filter 1s ease-in 0.5s

.nav
    justify-content space-between
    margin-bottom 5px

.input
    min-width 100px
    border 1px solid $border_color_faded
    flex-col()
    justify-content center
    padding 3px

th, td 
    text-align left

table 
    border-collapse collapse

p 
    margin 5px

.wrap
    display inline-block

.char_sheet
    border 2px solid $border_color_pure
    overflow-y scroll

.section
    border 2px solid $border_color_faded
    margin 5px
    padding 5px
    flex-full()
