@require 'util'

#character_sheet
    background-gradient()
    overflow auto

a 
    color $link_color
    text-decoration none

.cnum
    flex-row()
    flex-none()
.cnum_button, .cnum_value
    flex-none()

.nav
    justify-content space-between
    margin-bottom 5px

.input
    min-width 100px
    border 1px solid $border_color_faded
    flex-col()
    justify-content center
    padding 3px

body {
    font: 13px Helvetica, Arial;
}
th, td {
    text-align: left;
}
table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}
p {
    margin: 5px;
}
.wrap
    display inline-block

.outer {
    padding: 5px;
    position: relative;
}
.char_sheet {
    border: 2px solid $border_color_pure;
}

.section {
    border: 2px solid $border_color_faded;
    margin: 5px;
    padding: 5px;

    flex-full()
}
