$background_color_pure = #000
$background_color_vivid = #111
$background_color_faded = #333

$content_color_pure = #FFF
$content_color_vivid = #EEE
$content_color_faded = #CCC

$border_color_pure = #AAA
$border_color_vivid = #999
$border_color_faded = #777

$gradient_color_outer = #020102
$gradient_color_inner = #333
