@require 'util'

#diagnostic
    background-color $background_color_vivid

.outer 
    flex-col()

    position absolute
    height 100%
    width 100%

    text-align right

.mid 
    flex-row()
    flex-shrink()

.inner 
    flex-shrink()

.pad 
    flex-full()

p
    margin-bottom 2px

.pane
    padding 5px

ul
    margin 0
    padding 0
 li
    align-items center
