@require 'util'

#game_ui
    background-color $background_color_vivid

#loading_screen
    background-color $background_color_vivid

.loading_screen_text
    font-family Helvetica, sans-serif;
    font-size 15vmin

.outer 
    flex-col()

    position absolute
    height 100%
    width 100%

    text-align right

.mid 
    flex-row()
    flex-shrink()

.inner 
    flex-shrink()

.pad 
    flex-full()

p
    margin-bottom 2px

.pane
    padding 5px

#canvas_div
    position relative

canvas,#canvasText
    position absolute
    left 0
    top 0 
    width 100%
    height 100%

#tileCanvas
    z-index 0
#entityCanvas
    z-index 1
#unseenCanvas
    z-index 3
#fogCanvas
    z-index 3
#uiCanvas
    z-index 4
#canvasText
    z-index 5

.view_button
    color $content_color_faded
    border-style outset
    border-color $border_color_faded
    border-bottom-style none

.view_button.active
    background-color rgba(0,0,0,0)
    color $content_color_faded
    border-bottom-color rgba(0,0,0,0)
    outline none
    box-shadow none

.chat-pane
    font-size 15
    font-family 'Ubuntu Mono', monospace

.chat-pane_message-list
    overflow-y scroll
    list-style-type none
    margin 0
    padding 0

.chat-pane_message-list li
    padding 5px 10px
    word-wrap break-word

.chat-pane_message-list li:nth-child(odd)
    background-color $background_color_mid

.chat-pane_input-div
    background-color $border_color_faded

.chat-pane_input
    border 0
    margin 1px
    padding 5px
    min-width 0
ul
    margin 0
    padding 0
 li
    align-items center
.context-pane li *
    margin 10px

.player-inventory li *
    margin 4px

.player-equipment li *
    margin 4px
