@require 'util'

#game
    background-gradient()

p
    margin-bottom 2px

.pane
    padding 5px

#canvas_div
    position relative

canvas,#canvasText
    position absolute
    left 0
    top 0 
    width 100%
    height 100%

#tileCanvas
    z-index 0
#entityCanvas
    z-index 1
#uiCanvas
    z-index 2
#canvasText
    z-index 3

.chat-pane_message-list
    overflow-y scroll
    list-style-type none
    margin 0
    padding 0

.chat-pane_message-list li
    padding 5px 10px
    word-wrap break-word

.chat-pane_message-list li:nth-child(odd)
    background-color $background_color_mid

.chat-pane_input-div
    background-color $border_color_faded

.chat-pane_input
    border 0
    margin 1px
    padding 5px

