@require 'util'

.overflow_auto
    overflow auto

body
    font 13px Helvetica, Arial

.stretch
    justify-content stretch

.wrap
    display inline-block

.row
    flex-full()
    flex-row()

.col
    flex-full()
    flex-col()

.flex
    flex-full()

.flex_grow
    flex-grow()

.flex_shrink
    flex-shrink()

.flex_none
    flex-none()
    flex-row()
