@require 'util'

*
    box-sizing border-box
    scrollbar-color $scrollbar_color $background_color_vivid
    scrollbar-width thin
    
body
    font-size 13px
    font-family 'Open Sans', sans-serif
    color $content_color_faded

p
    margin 0

a 
    color $link_color
    text-decoration none

::-webkit-scrollbar-track
    background-color: $background_color_vivid;

::-webkit-scrollbar
    width: 6px;
    background-color: $background_color_vivid


::-webkit-scrollbar-thumb
    background-color: $scrollbar_color;

input, button, select
    background-color $background_color_faded
    color $content_color_faded
    border-color $border_color_faded

.all
    position absolute
    left 0
    top 0 
    width 100%
    height 100%

.overflow_auto
    overflow auto

.wrap
    display inline-block

.icon
    height 30px
    width 30px

.icon_large
    height 40px
    width 40px

.nav_right .icon
    margin-left 10px

.nav_left .icon
    margin-right 10px

.round_border
    border 2px solid $content_color_faded
    border-radius 10px
    align-items center

.nav_left, .nav_right
    font-size 15px
    position absolute
    top 5px
    z-index 1

.nav_left
    left 10px

.nav_left.round_border, .nav_left .round_border
    margin-right 10px
    padding-left 5px
    padding-right 12px
    padding-top 8px
    padding-bottom 8px

.nav_right
    right 10px

.nav_right.round_border,.nav_right .round_border
    margin-left 10px
    padding-left 12px
    padding-right 5px
    padding-top 8px
    padding-bottom 8px
    
.border_sides
    border-left 1px solid $border_color_faded
    border-right 1px solid $border_color_faded

.border_bottom
    border-bottom 1px solid $border_color_faded 

.row
    flex-full()
    flex-row()

.row-r
    flex-full()
    flex-row-r()

.col
    flex-full()
    flex-col()

.col-r
    flex-full()
    flex-col-r()

.flex
    flex-full()

.flex_grow
    flex-grow()

.flex_shrink
    flex-shrink()

.flex_none
    flex-none()

.f_end
    align-self flex-end

.maxw25
    max-width 25%

.maxh50
    max-height 50%

[v-cloak] { display: none; }
