@require 'util'

p
    margin 5px

.player
    border 2px solid black
    margin 5px
    padding 5px

.nav
    justify-content space-between
    margin-bottom 5px

.section
    border 2px solid black
    margin 5px
    padding 5px
