@require 'util'

p
    margin 5px

.player
    border 2px solid $border_color_faded
    margin 5px
    padding 5px

.delete_button
    background-color: #800

.nav
    justify-border space-between
    margin-bottom 5px

.section
    border 2px solid $border_color_faded
    margin 5px
    padding 5px
    
#loading_screen
    background-color $background_color_vivid

.loading_screen_text
    font-family Helvetica, sans-serif;
    font-size 15vmin

#home
    background-gradient()
