@require 'util'

#index
    background-gradient()

.title
    font-family 'IM Fell English SC', serif;
    font-size 10em

#title
    height 30vh

.outer 
    flex-col()

    position absolute
    height 100%
    width 100%

    text-align right

.mid 
    flex-row()
    flex-shrink()

.inner 
    flex-shrink()

.pad 
    flex-full()

.formbox 
    flex-row()

.inputcol 
    flex-full()
    flex-col()

.labelcol 
    flex-full()
    flex-col()

.formitem 
    flex-full()
    margin 5px

.bottom_left
    position absolute
    left 10px
    bottom 10px
    z-index 1

.bottom_left > *
    margin-right 20px

.bottom_right
    position absolute
    right 10px
    bottom 10px
    z-index 1

.ko-fi_button
    align-items center
    border-radius 10px
    color $content_color_pure
    padding 8px

.ko-fi_button, .ko-fi_button *
    background-color #639
    text-decoration none

.ko-fi_cup
    max-height 25px
    margin-right 10px
