@require 'util'

@keyframes splash_fade_in {
    from {
        color rgba(0,0,0,0)
    }
    to {
        color rgba(0,0,0,1)
    }
}

#index
    title-background-gradient()

.title
    font-family 'IM Fell English SC', serif;
    font-size 10em

#title
    height 30vh

#splash_outer
    position absolute
    right 0%
    width 100%
    height 1px
    display: flex
    flex-direction: row-reverse
    justify-content: center

#splash_inner
    flex 0 0 auto

#splash_text
    margin-top 4vh
    font-family: Helvetica, sans-serif
    font-size: 2.5vh;
    font-weight: bolder
    color #000
    animation-duration: 5s;
    animation-name splash_fade_in;
    animation-timing-function: ease-in
    animation-delay: 1s
    animation-fill-mode: both

#version_div
    position relative
    right 0%
    width 100%
    height 1px

#version_text
    left 100%
    top 100%
    font-family: Helvetica, sans-serif
    font-size: 1.5vh;
    font-weight: bolder
    color #000
    
.outer 
    overflow hidden
    flex-col()

    position absolute
    height 100%
    width 100%

    text-align right

.mid 
    flex-row()
    flex-shrink()

.inner 
    flex-shrink()

.pad 
    flex-full()

.formbox 
    flex-row()

.inputcol 
    flex-full()
    flex-col()

.labelcol 
    flex-full()
    flex-col()

.formitem 
    flex-full()
    margin 5px

.bottom_left
    position absolute
    left 10px
    bottom 10px
    z-index 1
    align-items flex-end

.bottom_left > *
    margin-right 20px

.bottom_right
    position absolute
    right 10px
    bottom 10px
    z-index 1
    align-items flex-end

.bottom_right > *
    margin-left 20px

.ko-fi_button
    align-items center
    border-radius 10px
    color $content_color_pure
    padding 8px

.ko-fi_button, .ko-fi_button *
    background-color #639
    text-decoration none

.ko-fi_cup
    max-height 25px
    margin-right 10px
