@require 'util'

#new
    background()

.outer 
    flex-col()

    position: absolute
    height: 90%
    width: 90%

    text-align: right

.mid 
    flex-row()
    flex-shrink()

.inner 
    flex-shrink()

.pad 
    flex-full()

.formbox 
    flex-row()

.inputcol 
    flex-full()
    flex-col()

.labelcol 
    flex-full()
    flex-col()

.formitem 
    flex-full()
    margin: 5px

.nav 
    position: absolute
    right: 10px
    top: 10px
    z-index: 1
