@require 'constants'

flex-col()
    display flex
    flex-direction column

flex-row()
    display flex
    flex-direction row

flex-col-r()
    display flex
    flex-direction column-reverse

flex-row-r()
    display flex
    flex-direction row-reverse

flex-full()
    flex 1 1 auto

flex-shrink()
    flex 0 1 auto

flex-grow()
    flex 1 0 auto

flex-none()
    flex 0 0 auto

background-gradient()
    background-color $background_color_faded
    background-image radial-gradient(ellipse at 50% 50%, $gradient_color_inner, $gradient_color_outer)
