.player-inventory
    ul.col
        li.flex_none.row(v-for="item in self.inventory")
            img.flex_none(v-bind:src="'./tex/sprite/'+item.sprite+'.png'")
            p.flex_none {{item.name}}{{item.stackable ? ' x ' + item.count : ''}}
            button.flex_none(v-if='item.armor_data !== undefined' @click='self.sendChatMessage("#wear " + item.id)') Wear
            button.flex_none(@click='self.sendChatMessage("#drop " + item.id)') Drop
