.game_sheet-pane.col
    .flex_none.row
        p.sheet_title.flex_none -----
        p.sheet_title.flex_none Character Sheet:
        select.flex_none(@input="$emit('input', $event.target.value)")
            option(value="attributes") Attributes
            option(value="race") Race
            option(value="skills") Skills
            option(value="equipment") Equipment
            option(value="inventory") Inventory
        p.sheet_title.flex_none -----
    .flex.overflow_auto
        game_player-attributes(v-if="self.sheet_view==='attributes'" v-bind:self="self.player_sheet?.attributes")
        game_player-race(v-else-if="self.sheet_view==='race'" v-bind:self="self.player_sheet?.race")
        game_player-skills(v-else-if="self.sheet_view==='skills'" v-bind:self="self.player_sheet?.skills")
        game_player-equipment(v-else-if="self.sheet_view==='equipment'" v-bind:self="self.player_sheet?.equipment.equipped")
        game_player-inventory(v-else-if="self.sheet_view==='inventory'" v-bind:self="{'inventory':self.player_entity?.components.inventory,'sendChatMessage':self.sendChatMessage}")
