.game_sheet-pane.col
    .flex_none.row.wrap
        .flex.row(v-for="view of ['attributes','race','skills','equipment','inventory']")
            button.flex.view_button(:class="{ active: self.sheet_view === view }" @click="self.setSheetView(view)") {{view.charAt(0).toUpperCase() + view.substring(1).toLowerCase()}}
    .flex.overflow_auto.pane
        game_player-attributes(v-if="self.sheet_view==='attributes'" v-bind:self="self.player_sheet?.attributes")
        game_player-race(v-else-if="self.sheet_view==='race'" v-bind:self="self.player_sheet?.race")
        game_player-skills(v-else-if="self.sheet_view==='skills'" v-bind:self="self.player_sheet?.skills")
        game_player-equipment(v-else-if="self.sheet_view==='equipment'" v-bind:self="{'equipment': self.player_sheet?.equipment,'sendChatMessage':self.sendChatMessage}")
        game_player-inventory(v-else-if="self.sheet_view==='inventory'" v-bind:self="{'inventory':self.player_entity?.components.inventory,'sendChatMessage':self.sendChatMessage}")
