.game_status-pane.overflow_auto
    div(v-if='self.player_sheet !== undefined && self.player_entity !== undefined')
        p #[span(title="Controls\n - Turn with the arrow keys\n - Use WASD to move\nstrafing takes more AP than moving forward\n - Attack with spacebar\nbut only in the direction you\'re facing\n - press Z to wait, X to stop waiting\n - press . or > to use stairs") #[b [Controls]]] <- mouse over
        p Player: {{self.player_sheet.name}}
        p Race: {{self.player_sheet.race.name}}
        p Essence: {{self.player_sheet.essence}}
        p Exp: {{Math.floor(self.player_sheet.exp)}}/{{self.player_sheet.exp_cap}}
        p Action: (Display Not Implemented)
        p (Turn Display Not Implemented)
        p -----Status-----
        p Position: ({{self.player_entity.location.x}}, {{self.player_entity.location.y}})
        game_player-resource(v-for='(resource, name) in self.player_sheet.status.pools' v-bind:self='{name,...resource}' :key='name')
        p Action Points: {{self.player_sheet.status.action_points}}/{{self.player_sheet.status.max_action_points}} ({{self.player_sheet.status.action_point_recovery}}/turn)
