doctype html
html
    head
        title GotG
        script(src="./socket.io/socket.io.js")
        script(src="./dependencies/jquery.js")
        script(src="./dependencies/vue.js")
        script(type="module" src="./js/game.js")
        link(rel="stylesheet" type="text/css" href="css/global")
        link(rel="stylesheet" type="text/css" href="css/game")

body
    #game.all.row
        .flex.col.maxw25.border_sides
            game_status-pane.flex.pane.maxh50.border_bottom(v-bind:self="{player_sheet, player_entity}")
            game_sheet-pane.flex.pane.maxh50(v-bind:self="{player_sheet,sheet_view}" v-model="sheet_view")
        #canvas_div.flex
            canvas#tileCanvas
            canvas#entityCanvas
            canvas#uiCanvas
            #canvasText
                centered-label(v-for="label in canvas_labels" v-bind:key="label.x + label.text + label.y" v-bind:self="label")
        .flex.col.maxw25.border_sides
            game_social-pane.pane.flex.maxh50.border_bottom(v-bind:self="social")
            game_chat-pane.flex.maxh50(v-bind:self="chat" v-model="chat.current_message")
