doctype html
html
    head
        title GotG
        script(src="/socket.io/socket.io.js")
        script(src="/dependencies/jquery.js")
        script(src="/dependencies/vue.js")
        script(type="module" src="/js/game.js")
        style
            include ../css/game.css

body
    #game
        .row
            div.char_div
                div.char_sheet
                    div#sheet_title
                        p -----Character Sheet-----
                        select(onChange="setSheetDisplayMode(this)")
                            option(value="attributes") Attributes
                            option(value="race") Race
                            option(value="skills") Skills
                            option(value="equipment") Equipment
                            option(value="inventory") Inventory
                    div#sheet_div
                        ul#sheet
                div.char_status
                    ul#status
            div#canvas_div
                canvas#tileCanvas
                canvas#uiCanvas
            div.meta_div
                div.info_div
                    ul#info

                div.chat_div
                    div.logbox#chat_history
                        div.full-height
                        ul#messages

                    div.formbox
                        form(action="")
                            input#m(autocomplete="off")
