doctype html
html
    head
        title GotG
        script(src=socket_io_path)
        script(src=jquery_path)
        script(src=vue_path)
        script(type="module" src="./js/game.js")
        link(href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Inconsolata&family=Open+Sans&family=Source+Code+Pro&family=Ubuntu+Mono&display=swap" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="./css/global.css")
        link(rel="stylesheet" type="text/css" href="./css/game.css")

body
    #game
        #loading_screen.all(v-visible="loading")  
            .outer
                .pad
                .mid
                    .pad
                    .inner
                        h1.loading_screen_text LOADING...
                    .pad
                .pad
        #game_ui.all.row(v-visible="!loading" v-cloak)
            .flex.col.maxw25.border_sides
                game_status-pane.flex.pane.maxh50.border_bottom(v-bind:self="{player_sheet, player_entity}")
                game_sheet-pane.flex.maxh50(v-bind:self="{player_entity,player_sheet,sheet_view,setSheetView,sendChatMessage}")
            #canvas_div.flex
                canvas#tileCanvas
                canvas#entityCanvas
                canvas#fogCanvas
                canvas#uiCanvas
                #canvasText
                    centered-label(v-for="label in canvas_labels" v-bind:key="label.x + label.text + label.y" v-bind:self="label")
            .flex.col.maxw25.border_sides
                game_context-pane.pane.flex.maxh50.border_bottom(v-bind:self="{context_actions,sendChatMessage}")
                game_chat-pane.flex.maxh50(v-bind:self="chat" v-model="chat.current_message")
