doctype html
html
    head
        title GotG
        script(src="/socket.io/socket.io.js")
        script(src="/dependencies/jquery.js")
        script(src="/dependencies/vue.js")
        script(type="module" src="/js/home.js")
        style
            include ../css/home.css

body
    #home
        p Players ({{players.length}}/{{MAX_PLAYERS}})
        player(v-for="player in players" v-bind:key="player.id" v-bind:self="player")
        button#new_player_button New Player
