doctype html
html
    head
        title GotG
        script(src="/socket.io/socket.io.js")
        script(src="/dependencies/jquery.js")
        script(src="/dependencies/vue.js")
        script(type="module" src="/js/home.js")
        style
            include ../css/global.css
        style
            include ../css/home.css

body
    #home
        .row
            .section.flex_none
                .col
                    p Players ({{players.length}}/{{MAX_PLAYERS}})
                    player.row(v-for="player in players" v-bind:key="player.id" v-bind:self="player")
                    .row
                        .flex
                        button#new_player_button New Player
            .flex
