doctype html
html
    head
        title GotG
        script(src=socket_io_path)
        script(src=jquery_path)
        script(src=vue_path)
        script(type="module" src="./js/home.js")
        link(href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Inconsolata&family=Open+Sans&family=Source+Code+Pro&family=Ubuntu+Mono&display=swap" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="./css/global.css")
        link(rel="stylesheet" type="text/css" href="./css/home.css")

body
    #loading_screen.all.col 
        .flex
        .row.flex_none
            .flex
            h1.loading_screen_text LOADING...
            .flex
        .flex
    #home.all.col(v-cloak)
        a.nav_left.round_border.row-r(href="" @click="clearCredentials")
            p.flex_none Sign Out
            img.icon.flex(src="./svg/octicon/sign-out.svg")
        .flex
        .row.flex_none
            .flex
            .section.flex_none
                .col
                    .row
                        p Players ({{players.length}}/{{MAX_PLAYERS}})
                        .flex
                        button#show_delete_player_button(v-if="!show_delete" @click="show_delete = true") -
                        button#cancel_delete_player_button(v-if="show_delete" @click="show_delete = false") Cancel
                    player.row(v-for="(player, index) in players" v-bind:key="player.id" v-bind:self="{player,index,show_delete,delete_player}")
                    .row
                        .flex
                        button#new_player_button(v-if="players.length < MAX_PLAYERS") New Player
            .flex
        .flex
        .flex
