doctype html

html
    head
        title GotG
        script(src="/socket.io/socket.io.js")
        script(src="/dependencies/jquery.js")
        script(src="/dependencies/vue.js")
        script(type="module" src="/js/index.js")
        link(href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Open+Sans&display=swap" rel="stylesheet")
        style
            include ../css/global.css
        style
            include ../css/index.css
    body
        #index.all
            a.nav_left(v-if="!logged_in" href="/create") New User
            a.nav_right(v-if="!logged_in" href="/login") Log In
            a.nav_left(v-if="logged_in" href="" @click="clearCredentials") Sign Out
            p.nav_right(v-if="logged_in") Signed in as {{username}}, 
                a(href="/home") Play
            .bottom_left.row
                img(src="/svg/octicon/mark-github" alt="Github Repo")
            .bottom_right.row
                a.ko-fi_button.row.flex_none(href='https://ko-fi.com/P5P31LH97')
                    img.ko-fi_cup.flex_shrink(src="https://cdn.ko-fi.com/cdn/cup-border.png")
                    p Buy me a Coffee :)
            .outer
                .pad
                .mid
                    .pad
                    .inner
                        h1.title GotG
                    .pad
                .pad
