doctype html

html
    head
        title GotG
        script(src="/socket.io/socket.io.js")
        script(src="/dependencies/jquery.js")
        script(type="module" src="/js/login.js")
        style
            include ../css/global.css
        style
            include ../css/login.css

    body
        #login.all
            a.nav_left.round_border.row-r(href="/create")
                p.flex_none New User
                img.icon.flex(src="/svg/octicon/person/fill-FFF")
            .outer
                .pad
                .mid
                    .pad
                    .inner
                        form(action="")
                            .formbox
                                .labelcol
                                    label.formitem(for="user") Userame:
                                    label.formitem(for="pass") Passphrase:
                                .inputcol
                                    input.formitem(type="text" id="user" name="username")
                                    input.formitem(type="password" id="pass" name="password")
                            button Login
                    .pad
                .pad
