doctype html

html
    head
        title Create Account
        script(src="/socket.io/socket.io.js")
        script(src="/dependencies/jquery.js")
        script(type="module" src="/js/new.js")
        style
            include ../css/global.css
        style
            include ../css/new.css

    body
        #new.all
            a.nav_right.round_border.row(href="/login")
                p.flex_none Sign In
                img.icon.flex(src="/svg/octicon/sign-in/fill-FFF")
            .outer
                .pad
                .mid
                    .pad
                    .inner
                        form(action="")
                            .formbox
                                .labelcol
                                    label.formitem(for="user") Userame:
                                    label.formitem(for="pass") Passphrase:
                                    label.formitem(for="pass") Enter pass again:
                                .inputcol
                                    input.formitem(type="text" id="user" name="username") 
                                    input.formitem(type="password" id="pass1" name="password") 
                                    input.formitem(type="password" id="pass2" name="password") 
                            button Create New Account
                    .pad
                .pad
