doctype html

html
    head
        title Versions
        style.
            body {
                font: 13px 'Lucida Console','Courier New';
            }

            th, td {
                padding: 5px;
                border: 1px solid black;
            }
            table {
                border-collapse: collapse;
                border: 1px solid black;
            }
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://kryogenix.org/code/browser/sorttable/sorttable.js")

    body
        table.table(class="sortable")
            tr
                th Version
                th Commit Hash
            each version in versions
                tr
                    td=version.version
                    td=version.hash